.browseMobile {
    display: flex;  
    flex-direction: column;
    background-color: #E9F8F0;
    height: 100%;
    width: 100vw;
}

.recipeCardContainer {
    display: flex;
    flex-direction: column;
    width: 90vw;
    align-self: center;
    background-color: white;
    align-items: center;
    object-fit: cover;
    margin-top: 4rem;
}

.recipeCard a {
    height: 100%;
}

.recipeCard img {
    max-width: 100%;
}

.recipeCard {
    margin: 2rem;
}

.recipeCard h4 {
    color: #E00000;
}

.recipeCard h4,
.recipeCard h5,
.ratingContainer {
    font-size: 20px;
    font-weight: 400;
    width: 95%;
    margin: 0.5rem auto 0.5rem auto;
}

.ratingContainer {
    display: flex;
    margin-top: 2em;
}

.ratingContainer svg {
    opacity: 15%;
    width: 1.5rem;
    height: 1.5rem;
}

.ratingContainer p {
    margin-left: auto;
    color: #8E8B8B;
}

.star.active {
    color: red;
    opacity: 100%;
}