.navbar {
    position: fixed;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    background-color: #E9F8F0;
    z-index: 2;
}

.navbarLogo {
    width: 90vw;
    flex-basis: auto;
    margin: 7% auto 7% auto;
}

.navbarLogoBrowse {
    width: 60vw;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

.mobileHome {
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.burgerMenu {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    background-color: transparent;
    margin: 0.5rem 0 1rem 0.5rem;
    border: none;
    height: 5%;
}

.burgerMenu svg {
    color: #43AC5A;
}

.mobileHomeLogo,
.sidebarLogo {
    width: 70%;
    height: 2em;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
}

.mobileHomeInfoText {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 3em;
}

.mobileHome h1 {
    color: #43AC5A;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 1em;
}

.mobileHome h2 {
    color: #43AC5A;
    font-size: 20px;
    font-weight: 400;
}

.getStartedBtn {
    margin-top: 3em;
}

.zeroWasteImg {
    height: 50%;
    margin-top: auto;
}

.sidebarCloseBtn {
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 1;
    color: black !important;
}

.sidebarCloseBtn.showing {
    -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    opacity: 1;
}

.sidebarCloseBtn.hidden {
    -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    opacity: 0;
}