.mobileHome {
    display: flex;
    overflow: unset ;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
}

.burgerMenu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    background-color: white;
    margin: 0.5rem 0 1rem 0;
    border: none;
    width: 92.5%;
}

.burgerMenu svg {
    color: #43AC5A;
}

.mobileHomeLogo,
.sidebarLogo {
    width: 70%;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
}

.mobileHome h1 {
    color: #43AC5A;
    font-size: 20px;
    font-weight: 400;
    margin-top: auto;
    margin-bottom: 1rem;
}

.mobileHome h2 {
    color: #43AC5A;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: auto;
}

#getStartedBtn {
    margin-bottom: auto;
}

.zeroWasteImg {
    height: 55%;
}

.sidebarCloseBtn {
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 1;
    color: black !important;
}

.sidebarCloseBtn.showing {
    -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    opacity: 1;
}

.sidebarCloseBtn.hidden {
    -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    opacity: 0;
}