:root {
    --mobileSidebarWidth: 18em;
    --desktopSidebarWidth: 20%;
}

.sidebarMobile,
.sidebarDesktop {
    position: absolute;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    left: 0;
    height: 100vh;
}

.sidebarMobile {
    width: var(--mobileSidebarWidth);
}

.sidebarDesktop {
    width: var(--desktopSidebarWidth);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 25%);
}

.sidebarMobile a,
.sidebarDesktop a {
    text-decoration: none;
    color: #8E8B8B;
}

.sidebarLogo {
    margin-top: 4em;
}

.registerBtn {
    margin-bottom: auto;
    color: white !important;
}

.feedContainer,
.myRecipesContainer {
    font-size: 17px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.feedContainer a,
.myRecipesContainer a{
    padding-top: 0.5em;
}

.myRecipesContainer {
    margin-bottom: auto;
}

.feedContainer {
    margin-bottom: 6em;
}

.feedContainer p,
.myRecipesContainer p {
    margin-bottom: 0.5rem;
}


.aboutUs {
    margin-bottom: 0.5em;
}

.sidebarMobile.showing {
    box-shadow: #00000080 0px 0px 50px 100vw;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    transition-duration: 1s;
}

.sidebarMobile.hidden {
    -webkit-transform: translateX(calc(var(--mobileSidebarWidth) * -1));
    -ms-transform: translateX(calc(var(--mobileSidebarWidth) * -1));
    transform: translateX(calc(var(--mobileSidebarWidth) * -1));
    transition-duration: 1s;
    left: calc(var(--mobileSidebarWidth) * -1);
}

.sidebarDesktop a:hover {
    color: #599F8E;
    -webkit-transition: color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}