:root {
    --sidebarWidth: 16em;
}

.sidebar {
    position: absolute;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    left: 0;
    width: var(--sidebarWidth);
    height: 100vh;
}

.sidebar a {
    text-decoration: none;
    color: #8E8B8B;
}

.sidebarLogo {
    margin-top: 4em;
}

#registerBtn {
    margin-bottom: auto;
}

.feedContainer,
.myRecipesContainer {
    font-size: 17px;
    display: flex;
    align-items: left;
    flex-direction: column;
    width: 8rem;
}

.myRecipesContainer {
    margin-bottom: auto;
}

.feedContainer {
    margin-bottom: 6em;
}

.feedContainer p,
.myRecipesContainer p {
    margin-bottom: 0.5rem;
}


.aboutUs {
    margin-bottom: 0.5em;
}


.sidebar.showing {
    box-shadow: #00000080 0px 0px 50px 100vw;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    transition-duration: 1s;
}

.sidebar.hidden {
    -webkit-transform: translateX(calc(var(--sidebarWidth) * -1));
    -ms-transform: translateX(calc(var(--sidebarWidth) * -1));
    transform: translateX(calc(var(--sidebarWidth) * -1));
    transition-duration: 1s;
    left: calc(var(--sidebarWidth) * -1);
}
