@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}

:root {
    --funcBtnWidth: 16em;
    --browsePageHomeHeight: 100vh;
}

/* -- -- -- -- -- -- -- -- -- -- Functional Buttons -- -- -- -- -- -- -- -- -- -- */

.functionalBtn {
    display: flex;
    text-decoration: none;
    background-color: #599F8E;
    color: white;
    max-width: var(--funcBtnWidth);
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 14px;
    border: none;
}

/* -- -- -- -- -- -- -- -- -- -- Loading Symbol -- -- -- -- -- -- -- -- -- -- */

.loadingSpinner {
    position: absolute;
    top: 50vh;
    left: 45vw;
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg)
    }
}

.loadingSpinner svg {
    color: black;

}


/* -- -- -- -- -- -- -- -- -- -- xxxxx -- -- -- -- -- -- -- -- -- -- */
